/******************************************************************************
START Glitch hello-app default styles
******************************************************************************/

:root {
  --color-bg: #2d2d2d;
  --color-text-main: #aaaaaa;
  --color-accent: #88aaaa;
  --wrapper-height: 87vh;
  --font-family-header: monospace;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Navigation grid */

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: monospace;
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.main-img {
  max-width: 250px;
  margin: 1rem auto;
}

#heartScene {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

a {
  color: var(--color-accent);
}

a:hover {
  /*   font-weight: bold; */
  font-style: italic;
}

h1 {
  margin: 0;
}

p {
  margin-top: 0;
}

/* @media max-width(800px) {
  #heartScene {
    bottom: 10px;
    left: 10px;
  }
} */