@media only screen and (max-device-width : 850px)
{
    .row {
        display: inline;
		width: 100%;
    }
}

@media only screen and (min-device-width : 851px)
{
    .row {
		display: flex;
    }
}

.big-box {
	text-align: justify;
	font-size: 1em;
	overflow: hidden;
	padding: 5px 20px 10px 20px;
	margin: 10px;
}

.box {
	overflow: hidden;
}

.box-fill {
    flex: 1;
}

.box-10 {
    flex: 10%;
}

.box-80 {
    flex: 80%;
}

.box-20 {
    flex: 20%;
}

.box-40 {
    flex: 40%;
}

.box-60 {
    flex: 60%;
}

.box-30 {
    flex: 30%;
}

.box-70 {
    flex: 70%;
}